.contenedor {
    background-color: white;
    max-width: 1050px;
    width: 150%;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.encabezado {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ececec;
    font-size: 13px;

}

.encabezado p {
    margin: 0 10px 0 0px;
}

.moneda p {
    margin-left: 0px;
}

.cel {
    justify-content: flex-start;
    display: flex;

}

.datos {
    display: flex;
    justify-content: flex-end;

}

.buscador {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    width: 60px;
    height: 60px;
}

.buscador h1 {
    margin: 10px 0;
}

.barra-busqueda {
    display: flex;
    font-family: sans-serif;
    width: 300px;
    margin: 10px 100px;



}

.contenedor-input {
    position: relative;
    width: 100%;
}

.campo-busqueda {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;


}

.icono-busqueda {
    position: absolute;
    top: 30%;
    right: 15px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    justify-content: center;
}

.candado {
    justify-content: flex-start;
    display: flex;
}

.menu {
    display: flex;
    background-color: rgb(6, 76, 168);
    justify-content: start;
    margin-left: 5%;
    margin-right: 5%;
    height: 35px;

}


.item-menun {
    justify-content: center;
    margin-left: 15px;
    padding-top: 7px;
    border-right: 0.1px white solid;
    padding-right: 15px;
    color: white;


}

.item-menun1 {
    background-color: #FFD400;
    justify-content: center;
    padding-left: 25px;
    padding-top: 7px;
    color: rgb(6, 76, 168);
    padding-right: 15px;

}

.item-menun2 {
    justify-content: end;
    padding-left: 25px;
    padding-top: 7px;
    padding-right: 15px;
    color: white;

}

.taladro {
    display: flex;
    margin-left: 10%;
}

.detalles-taladro h1 {
    margin: 0px;
    color: rgb(6, 76, 168);
    font-size: 33px;
    margin-top: 40px;
}

.detalles-taladro h2 {
    margin: 0px;
    color: rgb(6, 76, 168);
    font-weight: 50;
}

.detalles-taladro p {
    font-size: 13px;

}

.taladroimg {
    height: 92%;

}

.read {
    background-color: #FFD400;
    color: rgb(6, 76, 168);
    width: 40%;
    justify-content: center;
    padding-left: 34px;
    padding-top: 6px;
    border-radius: 20px;
    height: 20px;
    margin-top: 45px;

}

.gallery {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding-left: 5%;

}

.gallery1 {
    border: 1px solid rgba(0, 0, 0, 0.616);
    position: relative;



}
.flechas-container{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    

    
    
}
.flecha{
    cursor: pointer;
    font-size: 25px;
    border: 1px solid #888;
}

.gallery1-titulo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.616);

}

.articulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    height: 80px;
}

.info-articulo p {
    margin: 0px;
    margin-top: 5px;
    font-size: 13px;
}

.info-articulo span {
    font-size: 10px;
    color: rgb(6, 76, 168);
}

.mac {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    padding: 5px;
    margin-top: 5px;
}

.iphone {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    padding: 5px;
    margin-top: 5px;

}

.cinema {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    padding: 5px;
    margin-top: 5px;
}

.tablet {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    padding: 5px;
    margin-top: 5px;
}

.rating .star {
    font-size: 12px;
    color: gray;
}

/* Selecciona las primeras 3 estrellas usando el selector nth-child */
.rating .star:nth-child(1),
.rating .star:nth-child(2),
.rating .star:nth-child(3) {
    color: gold;
}

.rating2 .star {
    font-size: 12px;
    color: gray;
}

/* Selecciona las primeras 3 estrellas usando el selector nth-child */
.rating2 .star:nth-child(1),
.rating2 .star:nth-child(2) {
    color: gold;
}

.rating3 .star {
    font-size: 12px;
    color: gray;
}

/* Selecciona las primeras 3 estrellas usando el selector nth-child */
.rating3 .star:nth-child(1),
.rating3 .star:nth-child(2),
.rating3 .star:nth-child(3),
.rating3 .star:nth-child(4),
.rating3 .star:nth-child(5) {
    color: gold;
}

.rating4 .star {
    font-size: 12px;
    color: gray;
}

/* Selecciona las primeras 3 estrellas usando el selector nth-child */
.rating4 .star:nth-child(1),
.rating4 .star:nth-child(2),
.rating4 .star:nth-child(3),
.rating4 .star:nth-child(4) {
    color: gold;
}

.gallery2 {
    display: grid;
    grid-template-rows: 30% 15% 55%;

}

.menu1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    gap: 20px;
    margin: 0 50px 0 10px;


}

.articulos-pref {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 13px 0 20px;
    gap: 4px;
}

.calefaccion {
    display: flex;
    height: 100px;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

.calefaccion1 {
    height: 60px;

}

.calefaccion p {
    color: rgb(6, 76, 168);
    font-size: 23px;
}

.calefaccion span {
    color: rgb(40, 105, 195);
}

.luz {
    display: flex;
    height: 100px;
    border: 1px solid black;
    align-items: center;
}

.luz1 {
    height: 60px;
    width: 60px;
}

.luz p {
    color: rgb(6, 76, 168);
    font-size: 23px;
}

.luz span {
    color: rgb(40, 105, 195);
}


.herramientas {
    display: flex;
    height: 100px;
    border: 1px solid black;
    align-items: center;
}

.herramientas1 {
    height: 60px;

}

.herramientas p {
    color: rgb(6, 76, 168);
    font-size: 23px;

}

.herramientas span {
    color: rgb(40, 105, 195);
}


.barra {
    border-bottom: 1px #888 solid;
    margin-left: 2%;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-navegacion {
    margin-left: 10px;
    border: 1px solid #555;
}

.icono-flecha {
    cursor: pointer;
    font-size: 15px;
    color: #555;
    border: 1px solid #555;

}

.barra p {
    font-size: 20px;
}

.pulidora1 {
    width: 80px;
    height: 75px;
    margin-bottom: 20px;
}

.taladroama1 {
    width: 60px;
    margin-bottom: 24px;
}

.taladrover1 {
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
}

.torrepc1 {
    width: 80px;
    margin-bottom: 25px;

}

.pulidora {
    border: 1px solid black;
    width: 150px;
    justify-content: center;
    display: grid;
    grid-template-rows: 60% 40%;
    height: 190px;
}

.taladroama {
    border: 1px solid black;
    width: 150px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 190px;
}

.taladrover {
    border: 1px solid black;
    width: 150px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 190px;
}

.torrepc {
    border: 1px solid black;
    width: 150px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 190px;
}

.fila {
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

p {
    margin: 0px;
}

.rating5 .star:nth-child(1),
.rating5 .star:nth-child(2),
.rating5 .star:nth-child(3),
.rating5 .star:nth-child(4) {
    color: gold;
}

.rating6 .star:nth-child(1),
.rating6 .star:nth-child(2),
.rating6 .star:nth-child(3),
.rating6 .star:nth-child(4),
.rating6 .star:nth-child(5) {
    color: gold;
}

.rating7 .star:nth-child(1),
.rating7 .star:nth-child(2),
.rating7 .star:nth-child(3) {
    color: gold;
}

.rating8 .star:nth-child(1),
.rating8 .star:nth-child(2),
.rating8 .star:nth-child(3),
.rating8 .star:nth-child(4),
.rating8 .star:nth-child(5) {
    color: gold;
}

.testimonios {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.caja {
    display: flex;
    height: 150px;
    width: 78%;
    border: 1px solid black;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;

}

.caja1 {
    width: 100px;
    height: 100px;


}

.caja p {
    color: rgb(6, 76, 168);
    font-size: 20px;
    padding-left: 15px;
}

.caja span {
    color: rgb(40, 105, 195);
    font-size: 20px;
    padding-left: 15px;
}

.caja h3 {
    font-size: 8px;
    padding-left: 20px;
    margin: 5px 0 0 0;
}

.texto2 {
    width: 55%;
}

.img21 {
    width: 45%;
    position: relative;
    /* Paso clave: permite que los elementos hijos se posicionen en relación a él */

    justify-content: center;
    /* Centra el botón horizontalmente */
    align-items: center;/
}

.boton-superpuesto {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #FFD400;
    cursor: pointer;
    border-radius: 20px;
}

.boton-superpuesto P {
    color: rgb(6, 76, 168);
    font-size: 15px
    ;
    padding: 0px;
}
.gallery3{
    display: grid;
    grid-template-rows:40% 60%;
}
.barra2{
     border-bottom: 1px #888 solid;
    margin-left: 2%;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    
}
.barra2 p{
    font-size: 20px;
    
}
.biblio{
    display: grid;
    grid-template-columns: 15% 85%;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
   

}
.persona{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
.parrafo{
    display: flex;
}
.texto3{
    margin-left: 20px;
  
}
.ceo{
display: flex;
margin-top: 8px;


}
.nombre{
    display: flex;
    gap:13px;
}
.nombre p{
    color: rgb(6, 76, 168);
    font-size: 18px;
}
.nombre span{
    color:#888 ;
    font-size: 18px;
}
.barra4{
    color:#ccc;
    font-size: 1px;
}
.marcas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 50px;
    margin-top: 20px;
}
.htc{
    width: 60px;
    height: 50px;

}
.apple{
    width: 70px;
    height: 59px;

}
.canon{
    width: 90px;
    height: 25px;

}
.sony{
    width: 70px;
    height: 12px;

}
.palm{
    width: 100px;
    height: 70px;

}